@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

body {
    background-image: url("images/cool-background-ppt.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    font-family: Poppins;
}

#navbar {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ececec49;
}

.btn {
    margin-right: 10px;
    transition: all 0.5s ease;
    color: white;
    border: none;
    font-size: 17px;
    font-weight: bold;
}

.btn:hover {
    color: white;
    transform: scale(1.1);
}

.logoimg {
    width: 60px;
    height: 60px;
    border-radius: 35px;
}

#container {
    margin-top: 50px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #4467c7;
    color: white;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateX(-13px);
}

.img {
    width: 100%;
    height: 180px;
}

#createevent {
    font-weight: bold;
    color: white;
}

#createevent:hover {
    color: rgb(159, 225, 255);
}

#myevent {
    font-weight: bold;
    color: white;
}

#myevent:hover {
    color: rgb(159, 225, 255);
}

#currentusername {
    font-weight: bold;
    font-size: 17px;
    color: white;
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .img {
        height: 170px;
    }

    .card {
        height: 36vh;
    }
}

@media only screen and (max-width: 375px) {
    .img {
        height: 180px;
    }
    .card {
        height: 50vh;
    }
}
@media only screen and (max-width: 344px) {
    .card {
        height: 42vh;
    }
}

@media only screen and (max-width: 351px) {
    .btn {
        margin-top: 5px;
    }
}
